
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #d0eaff, #f4f4f4);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/*.container {
    max-width: 400px;
    width: 100%;
    background: #fff;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}*/


h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #007BFF;
    outline: none;
}


/*button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}*/


.link {
    margin-top: 20px;
}

.link a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}


.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}