.pay-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f8fc;
    border-radius: 10px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.7s ease-in-out;
}

.card {
    border-radius: 15px;
    background: linear-gradient(135deg, #ffffff, #f1f1f1);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    padding: 30px;
    animation: slideUp 0.5s ease-in-out;
}

h1 {
    font-size: 2.4rem;
    font-weight: 700;
    color: #2c3e50;
    text-transform: uppercase;
    margin-bottom: 25px;
    text-align: center;
    letter-spacing: 2px;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #34495e;
    margin-top: 35px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.bill-info {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #7f8c8d;
    text-align: center;
}

.form-group {
    margin-bottom: 1.5rem;
    text-align: center;
}

.form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
}



.custom-input-cn, .custom-input-name {
    border-radius: 8px;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ced4da;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #ecf0f1;
    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.05);
    width: 100%;
    text-align: center;
}

.custom-input-ed{
    border-radius: 8px;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ced4da;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #ecf0f1;
    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.05);
    width: 70%;
    text-align: center;
}

.label-ed{
    width: 70%;
    text-align: center;
}

.custom-input-cvv{
    border-radius: 8px;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ced4da;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #ecf0f1;
    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.05);
    width: 100px;
    text-align: center;
}

.ed-cvv-div {
    display: flex;
    justify-content: space-between;
}

.ed-cvv-div .form-group {
    flex: 1;
}

.ed-cvv-div .form-group:first-child {
    margin-right: 15px;
}

.custom-button {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 14px;
    border-radius: 8px;
    background-color: #2980b9;
    color: #ffffff;
    width: 100%;
    border: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.custom-button:hover {
    background-color: #1c5d88;
    box-shadow: 0px 6px 20px rgba(41, 128, 185, 0.4);
    transform: translateY(-2px);
}

.custom-button:active {
    background-color: #1c5d88;
    box-shadow: 0px 4px 15px rgba(41, 128, 185, 0.3);
    transform: translateY(1px);
}

.text-danger {
    text-align: center;
    margin-top: 20px;
    color: #e74c3c;
}

.loading-container {
    text-align: center;
    padding: 50px;
    font-size: 1.2rem;
    color: #666;
    animation: fadeIn 0.7s ease-in-out;
}

.loading-container p {
    color: #34495e;
    font-weight: 500;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 0.6s ease-out;
}


.fade-in-delayed {
    animation: fadeIn 0.6s ease-out;
    animation-delay: 0.2s;
}